html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 label, input, textarea, select, button {
    margin: 0;
    padding: 0;
    color: #555555;
    font-size: 1rem;
    line-height: 1.8;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-size: 1.2rem;
}

a {
    color: #6495ed;
    text-decoration: none;
}

a.act {
    color: #ff5252;
    font-weight: bold;
}

li {
    list-style: none;
}

section {
    margin: 0 0 8px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.error-msg, .errorlist * {
    color: #ff0000;
}

header {
    width: 100%;
    display: table;
    margin: 0 0 8px;
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
}

header a {
    color: #888888;
}

header .site-name {
    padding-left: 8px;
    display: table-cell;
    vertical-align: middle;
}

header nav {
    padding-right: 8px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

header nav li {
    text-align: right;
    display: inline-block;
    padding-right: 24px;
}

header nav li:last-child {
    padding-right: 0;
}

header .site-name a {
    font-size: 1.4rem;
}

#nav{
    background: turquoise;
    height: 50px;
}

.content {
    padding: 0 8px;
    margin: 5px 0 0 0;
}

/**
 * index
 */
.user-name {
    margin-bottom: 24px;
    color: #993333;
}

.post-list ul {
    width: 100%;
}

.post-list ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #cccccc;
}

.search_form{
    display: inline-grid;
}


.pagination ul {
    width: 100%;
    display: table;
}

.pagination li {
    display: table-cell;
    width: 50%;
}

.pagination li:last-child {
    text-align: right;
}

.post_box{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    display: block;
}
.post_box p {
    margin: 0;
    padding: 0;
}

/*
input file style
*/
.post_form label{
    cursor: pointer;
    padding: 11px 30px;
    display: inline-block;
    background-color: #1f74ff;
    color: #fff;
    border-radius: 6px;
}
.input_image input{
    display: none;
}
.user_info{
    display: inline-flex;
}
.user_info img{
    border-radius: 50%;
    height: 80px;
}
.user_info p{
    font-size: x-large;
    padding: 15px;
    margin: 0;
}