{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Vuesax -->
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}Blog App with Auth | Django2 Tutorial</title>
</head>
<body>
<div class="container">
    <header>
        <p class="site-name"><a href="{% url 'sns:index' %}">Blog App</a></p>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><vs-button vs-color="primary" vs-type="filled">
                    <a href="{% url 'logout' %}" class="logout">Logout</a>
                </vs-button></li>
                {% else %}
                <li>
                    <vs-button va-color="primary" vs-type="filled">
                        <a href="{% url 'accounts:signup' %}" class="signup">Sign up</a>
                    </vs-button>
                </li>
                <li>
                    <vs-button vs-color="primary" vs-type="filled">
                        <a href="{% url 'login' %}" class="login">Login</a>
                    </vs-button>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<!-- Vue.js -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
{% block js %}{% endblock %}
</body>
</html>
