{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!--CSSの読込-->
    <link rel="stylesheet" type="text/css" href="{% static 'sns/css/index.css' %}" />
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<p>{{ message|safe }}</p>
<table>
    <form action="{% url 'find' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <tr><th></th><td><input type="submit" value="click"></td></tr>
    </form>
</table>
<hr>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>birthday</th>
    </tr>
    {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.mail }}</td>
            <td>{{ item.birthday }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>