{% extends 'sns/layout.html' %}
{% block title %}Index{% endblock %}
{% block header %}
    <h1>Sns</h1>
    <p class="caption">
    ※グループのチェックをONにしてアップデートするとそのグループに登録されている利用者のメッセージだけが表示されます。
    </p>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <form action="{% url 'sns:index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="mode" value="__search_form__">
    {{ search_form }}
    <button>Search</button>
    </form>
    <hr>
    <form action="{% url 'sns:index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="mode" value="__post_form__">
    {{ post_form }}
    <button>update</button>
    </form>
    {% for item in contents %}
        <hr>
        <p class="message_content">{{ item.content }}</p>
        <p class="message_date">{{ item.pub_date }}</p>

    {% endfor %}
{% endblock %}
