{% extends 'sns/layout.html' %}
{% block title %}Index{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row" id="index">
        <div class="col-md-4 left-dashboard">
            <div class="post_box user">
                <div class="user_icon">
                    {% if user.icon_image %}
                        <a href="{% url 'sns:user_info' user.pk %}">
                            <img src="{{ user.icon_image.url }}" alt>
                        </a>
                    {% else %}
                        <a href="{% url 'sns:user_info' user.pk %}">
                            <img src="media/icon/default/default_user_icon.png" alt>
                        </a>
                    {% endif %}
                </div>
                <div class="user_name">
                    <a href="{% url 'sns:user_info' user.pk %}">{{ user.username }}</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <form action="{% url 'sns:add_post' %}" method="post" class="post_form" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea style="resize:none; width:400px; height:200px;" name="content"></textarea>
                <label for="file_image" class="input_image">
                    SELECT IMAGE
                    <input type="file" id="file_image" accept="image" name="image">
                </label>
                <vs-button vs-type="filled">Submit</vs-button>
            </form>
            {% for item in contents %}
                <div class="post_box">
                <div class="user_info">
                    {% if item.user.icon_image %}
                        <img src="{{ item.user.icon_image.url }}">
                    {% else %}
                        <img src="media/icon/default/default_user_icon.png" alt>
                    {% endif %}
                    <p>{{ item.user.username }}</p>
                </div>
                    <p class="message_content">{{ item.content }}</p>
                    {% if item.image %}
                        <img src="{{ item.image.url }}">
                    {% endif %}
                    <p class="message_date">{{ item.pub_date }}</p>
                    <form action="{% url 'sns:delete_post' %}" method="post" class="delete_post">
                        {% csrf_token %}
                        <input type="hidden" name="mode" value="__delete_post__">
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <vs-button vs-type="filled">DELETE</vs-button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 right-dashboard">
            <form action="{% url 'sns:find_post' %}" method="post" class="search_form">
                {% csrf_token %}
                <input type="hidden" name="mode" value="__search_form__">
                {{ search_form.search_message.label }}
                {{ search_form.search_message }}
                {{ search_form.search_user.label }}
                {{ search_form.search_user }}
                {{ search_form.search_from_date.label }}
                <vs-input type="date" name="search_from_date">{{ search_form.search_from_date }}</vs-input>
                〜
                <vs-input type="date" name="search_to_date">{{ search_form.search_to_date }}</vs-input>
                <vs-button vs-type="filled">Search</vs-button>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    new Vue({
    el: '#index'
})
</script>
{% endblock %}